//Copyright (C)2014-2023 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.9 (64-bit)
//Part Number: GW2A-LV18PG256C8/I7
//Device: GW2A-18
//Device Version: C
//Created Time: Mon 10 21 20:46:01 2024

IO_LOC "TX" M11;
IO_PORT "TX" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "flashClk" L10;
IO_PORT "flashClk" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "CS" M9;
IO_PORT "CS" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "MOSI" R10;
IO_PORT "MOSI" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "RST" A2;
IO_PORT "RST" PULL_MODE=DOWN BANK_VCCIO=1.8;
IO_LOC "btn2" D7;
IO_PORT "btn2" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "btn1" C7;
IO_PORT "btn1" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "MISO" P10;
IO_PORT "MISO" PULL_MODE=NONE BANK_VCCIO=1.8;
IO_LOC "clk" H11;
IO_PORT "clk" PULL_MODE=UP BANK_VCCIO=1.8;
